# angular2-webpack folders
angular2/node_modules/
angular2/node/

# java folders
.git/
target/
.idea/
*.iml
src/main/webapp/resources/js/*.js
src/main/webapp/resources/js/*.js.map

src/main/webapp/resources/css/*.css
src/main/webapp/resources/css/*.css.map

src/main/webapp/resources/fonts/*.*

